@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    font-family: "calibri", sans-serif;
}

body {
    overflow-x: hidden;
}
.label-fixed-height {
    height: 110px;
    display: flex;
    align-items: center;
}

.label-fixed-height-narrow {
    height: 15px;
    display: flex;
    align-items: center;
}
.custom-table th {
    font-weight: normal !important;
}

.custom-table {
    border: 2px solid #5c5b7b;
    border-collapse: separate;
    border-spacing: 0;
}

.custom-table th {
    border: 1px solid black;
    padding: 5px !important;
    color: black !important;
}

.custom-table td {
    border: 1px solid black;
    padding: 5px !important;
}

.custom-table td,
th {
    border-top: none !important;
    /* background-color: #5C5B7B; */
}

.custom-table col-2 {
    width: 16.6667%;
}

.invalid-feedback {
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 12px;
}

.custom-label {
    color: black;
    min-height: 35px;
}

.custom-input {
    background-color: #4472c4 !important;
    border: none !important;
    border-radius: 0px 10px 10px 0px !important;
    padding-left: 0px !important;
    box-shadow: none !important;
    -moz-appearance: textfield;
}

.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input::placeholder {
    color: white !important;
}

.custom-selectbox::placeholder {
    color: white;
}

.custom-selectbox {
    background-color: #4472c4 !important;
    border: none !important;
    color: #8589a4;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.custom-span-rounded {
    border-radius: 10px 0px 0px 10px !important;
}

.custom-select2 {
    color: black !important;
    background-color: #4472c4 !important;
}

.select2-container--bootstrap-5 .select2-search__field {
    color: black !important;
    /* background-color: black !important; */
    border: none !important;
    outline-color: #ccc !important;
}

.select2-container--bootstrap-5 .select2-selection {
    border: none !important;
    background-color: #4472c4 !important;
}

.select2-container--bootstrap-5 .select2-dropdown {
    /* border: 1px solid black !important; */
    background-color: white !important;
    margin-top: -12px !important;

    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select2-container--bootstrap-5 .select2-results {
    color: black !important;
    font-size: 1rem;
    font-weight: bold;
}

.select2-container--bootstrap-5 .select2-selection__rendered {
    color: white !important;
    background-color: #4472c4 !important;
    font-size: 12px;
    margin-top: 6px;
    font-weight: bold;
}

.select2-container--bootstrap-5 .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.select2-container--bootstrap-5 .select2-selection {
    outline: none;
}

.select2-container--bootstrap-5 .select2-results__options::-webkit-scrollbar {
    display: none;
}

.select2-container--bootstrap-5 .select2-results__options {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.custom-button-export {
    background-color: #4472c4 !important;
    border: none !important;
    border-radius: 10px !important;
    color: #6168ae !important;
    box-shadow: none !important;
    font-size: 1.5rem !important;
}
.custom-button-export-disabled {
    background-color: #5a6268 !important;
    border: none !important;
    border-radius: 10px !important;
    color: black !important;
    box-shadow: none !important;
    font-size: 1.5rem !important;
}

#export_select {
    color: #8589a4 !important;
}

#export_select option {
    font-size: 1.25rem;
    color: white;
    padding: 10px !important;
}

.form-control {
    color: white !important;
    font-size: 12px !important;
    /* font-size:11px!important; */
}

.table-warning {
    background: rgb(0, 0, 0) !important;
    color: rgb(255, 0, 0) !important;
}

@media (max-width: 576px) {
    .target-group {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media (max-width: 434px) {
    nav .brand-title {
        /* font-size:1rem!important; */
    }
}

@media (max-width: 767.9px) {
    body {
        overflow-x: hidden !important;
    }
    #app {
        overflow-x: hidden !important;
    }
    .label-fixed-height {
        height: 40px !important;
    }

    .label-fixed-height-narrow {
        height: 40px !important;
    }

    .target-row {
        display: table-row;
    }
    .mobile-table-row {
        display: block !important;
    }
    .desktop-table {
        display: none !important;
    }
    .mobile-only {
        display: block !important;
    }
    .mobile-table th {
        width: 160px !important;
    }
    .mobile-table td {
        width: 160px !important;
    }
    .mobile-upper-row {
        width: 160px !important;
    }
}
@media (max-width: 500px) {
    .input-group-text {
        font-size: 3vw !important;
    }
    .form-control {
        font-size: 3vw !important;
    }
    .mobile-table {
        font-size: 3vw !important;
    }
    .mobile-table td {
        font-size: 3vw !important;
    }
    .mobile-table th {
        font-size: 3vw !important;
    }
    .info-text {
        font-size: 3vw !important;
    }
    .input-label-text {
        font-size: 3vw !important;
    }
    .select2-selection__rendered {
        font-size: 3vw !important;
    }
    .select2-results__option {
        font-size: 3vw !important;
    }
    .select2-search__field {
        font-size: 3vw !important;
    }
    .mobile-input-row {
        height: 50px !important;
    }
}

@media (min-width: 500px) and (max-width: 767.9px) {
    .input-group-text {
        font-size: 2.6vw !important;
    }
    .form-control {
        font-size: 2.6vw !important;
    }
    .mobile-table {
        font-size: 2.6vw !important;
    }
    .mobile-table td {
        font-size: 2.6vw !important;
    }
    .mobile-table th {
        font-size: 2.6vw !important;
    }
    .info-text {
        font-size: 2.6vw !important;
    }
    .input-label-text {
        font-size: 2.6vw !important;
    }
    .select2-selection__rendered {
        font-size: 2.6vw !important;
    }
    .select2-results__option {
        font-size: 2.6vw !important;
    }
    .select2-search__field {
        font-size: 2.6vw !important;
    }
    .mobile-input-row {
        height: 58px !important;
    }
}

@media (min-width: 992px) {
    .target-row {
        display: none;
    }

    .selector-col {
        display: flex !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .selector-col > .input-group {
        width: 50% !important;

        margin-left: auto !important;
        margin-right: 4.5rem !important;
    }

    .col-lg-only {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .custom-box {
        max-width: 170px !important;
        /* margin-left: 10px; */
    }
}
@media (min-width: 600px) and (max-width: 720px) {
    .navbar-text {
        font-size: 3.5vw !important;
        margin-top: 10px;
    }
}
@media (min-width: 400px) and (max-width: 600px) {
    .navbar-text {
        font-size: 4vw !important;
    }
}
@media (max-width: 400px) {
    .navbar-text {
        font-size: 0.8rem !important;
    }
}
/* @media(min-width:991px){
    .custom-box{
        max-width: 220px!important;
      }

} */
@media (max-width: 991px) {
    .selector-col {
        /* margin-left:3rem!important;
        margin-right: 3rem!important; */
    }

    .selector-col > .input-group {
        width: 100% !important;
    }

    .col-lg-only {
        display: none;
    }

    .user-input-row {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .selector-col > .input-group {
        width: 100% !important;
        /* margin-left:3.5rem!important */
    }

    .custom-box {
        /* border:none!important; */
        display: block !important;
    }

    .user-input-row {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    .custom-box {
        max-width: none;
    }

    .mobile-table-price {
        vertical-align: middle !important;
        display: block !important;
    }
    .mobile-table-price-row {
        border: 1px solid black !important;
    }
    .non-mobile-columns {
        display: none !important;
    }
    .navbar-text-div {
        text-align: left;
        margin-top: 0px !important;
    }
    .navbar-logo {
        text-align: left;
    }
    .desktop-only {
        display: none !important;
    }
}

@media (min-width: 768px) {
    #mobile {
        display: none !important;
    }
    #desktop {
        display: block !important;
    }

    .ml-lg-5 {
        margin-left: 3rem !important;
    }

    .icon-image {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .user-input-row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .navbar-text-div {
        text-align: center;
        margin-top: 3rem !important;
    }
    .navbar-logo {
        text-align: center;
    }
}

.fa-percent,
.fa-money-bill,
.fa-coins {
    font-size: 1.25rem !important;
}

.input-group {
    /* width: 80%!important; */
    margin: auto;
}
.text-sm-center {
    text-align: left;
}
@media (max-width: 767.9px) {
    #mobile {
        display: block !important;
        margin-left: 5% !important;
    }
    #desktop {
        display: none !important;
    }
    .custom-box > .form-group {
        display: flex;
        flex-wrap: wrap;
    }

    .icon-image {
        flex: 0 0 10%;
        text-align: right;
    }

    .input-content {
        flex: 1;
        text-align: left;
    }

    .custom-box {
        min-height: 0px !important;
    }

    .custom-box label {
        margin-top: 1.2rem !important;
        margin-left: 1rem !important;
    }

    .custom-box .input-group {
        margin-left: 1rem !important;
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 10px !important;
    }

    .icon-image {
        padding-top: 1.5rem !important;
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1); */
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0.3); */
        filter: drop-shadow(5px 10px 4px #ccc);
        border-radius: 50%;
        padding: 8px;
        /* Adjust this value to control the shadow spread */
        padding-top: 8px !important;
        margin-top: 20px;
    }

    .icon-image > img {
        border-radius: 50%;
        object-fit: contain;
        width: 50px;
        /* Match the width and height to the container's dimensions */
        height: 50px;
    }

    /* // home page responsive */
    .dropleft-mobile {
        position: absolute !important;
        right: 4%;
        top: 9%;
    }
    h3,
    .h3 {
        font-size: 1.2em !important;
    }
    .text-sm-center {
        text-align: center !important;
        margin-bottom: 10px;
    }
    .header-sect[data-v-6dde423b] {
        padding: 15px 13px 0px !important;
    }

    .content-view {
        position: absolute !important;
        width: 93% !important;
    }
    .img-view {
        margin-top: 400px !important;

        padding-top: 25px;
    }
    .img-view img {
        width: 100% !important;
    }
    footer.footer-site p {
        font-weight: 600;
        max-width: 347px;
        color: #000;
    }

    section.platform-work[data-v-bb962f12] {
        background: #cce7fa;
        padding: 40px 0 !important;
    }
    .card-sect[data-v-bb962f12] {
        max-width: 100% !important;
    }
    .mr-10 {
        margin-bottom: 10px;
    }
    .btn-sm-view {
        display: none !important;
    }
}

.table-heading {
    font-size: 15px;
    text-align: center;
}
.mobile-only {
    display: none;
}
.icons-img {
    object-fit: contain;
}
.select2-container--classic .select2-selection {
    background-color: #4472c4 !important;
}
.w-70 {
    width: 70% !important;
}

.custom-input-mobile {
    background-color: #4472c4 !important;
    /* padding-left: 0px !important; */
    box-shadow: none !important;
    -moz-appearance: textfield;
    text-align: center;
    border: 2px solid black !important;
}

.custom-input-mobile::-webkit-inner-spin-button,
.custom-input-mobile::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input-mobile::placeholder {
    color: white !important;
}

.custom-input-mobile-percentage {
    background-color: #4472c4 !important;
    box-shadow: none !important;
    text-align: center;
    border: 2px solid black !important;
    border-left: none !important;
    padding-bottom: 0px !important;
    color: #fff !important;
}
.custom-input-mobile-dollar {
    background-color: #4472c4 !important;
    box-shadow: none !important;
    text-align: center;
    border: 2px solid black !important;
    border-right: none !important;
    padding-bottom: 0px !important;
    color: #fff !important;
}
.Vue-Toastification__toast--error {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 0, 0) !important;
}

.selection .select2-selection__arrow {
    background-color: white !important;
}

.selection .select2-selection__rendered {
    color: #fff !important;
}
.info-text {
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (max-width: 500px) {
    .info-text {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

.input-group {
    position: relative;
    display: inline-block;
}

#inputBox {
    padding-right: 20px; /* Add padding to the right to create space for the $$ sign */
}

.dollarsign {
    position: absolute;
    top: 50%;
    right: 5px; /* Adjust the distance from the input value */
    transform: translateY(-50%);
}

input {
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
@media (max-width: 1100px) {
    .selector-price {
        padding-left: 3px !important;
        padding-right: 0px !important;
    }
}
.heading-symbols {
    padding-left: 10px !important;
}
@media (min-width: 1200px) {
    .table-heading {
        font-size: 1rem !important;
    }
    .custom-label {
        font-size: 1rem !important;
    }
    .custom-table td {
        font-size: 1rem !important;
    }
    .custom-table th {
        font-size: 1rem !important;
    }
    .custom-input {
        font-size: 1rem !important;
    }
    .custom-span {
        font-size: 1rem !important;
    }
    .input-group-text {
        font-size: 1rem !important;
    }
    .invalid-feedback {
        font-size: 1.1rem !important;
    }
    .required {
        font-size: 1rem !important;
    }

    .custom-label {
        min-height: 62px;
    }

    .select2-selection.select2-selection--single {
        height: 38px !important;
    }
    .select2-selection__rendered {
        font-size: 1.2rem !important;
    }
    .form-control-lg {
        font-size: 1rem !important;
    }
    .select2-search__field {
        font-size: 1rem !important;
    }
    .user-area {
        font-size: 2rem !important;
    }
}
.custom-box {
    max-width: 200px !important;
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .custom-label {
        min-height: 93px;
    }
}

@media (min-width: 1270px) {
    .custom-box {
        margin: 0 5px;
    }
    .custom-label {
        min-height: 93px;
    }
}
.fa-file-pdf {
    font-size: 30px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #4472c4 !important;
    border-color: #4472c4 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #4472c4 !important;
    border-color: #4472c4 !important;
}

.bg-primary {
    background-color: #4472c4 !important;
}

.bg-primary-light {
    background-color: #cbe7f9 !important;
}

.border-primary {
    border-color: #4472c4 !important;
    border-width: 1px !important;
}

.text-primary {
    color: #4472c4 !important;
}

.border-primary-light {
    border-color: #cbe7f9 !important;
    border-width: 1px !important;
}

.border-bottom-primary {
    border-bottom-color: #4472c4 !important;
    border-width: 1px !important;
}

.border-top-primary {
    border-top-color: #4472c4 !important;
    border-width: 1px !important;
}

.border-left-primary {
    border-left-color: #4472c4 !important;
    border-width: 1px !important;
}

.border-right-primary {
    border-right-color: #4472c4 !important;
    border-width: 1px !important;
}

.border-bottom-primary-light {
    border-bottom-color: #cbe7f9 !important;
    border-width: 1px !important;
}

.border-top-primary-light {
    border-top-color: #cbe7f9 !important;
    border-width: 1px !important;
}

.border-left-primary-light {
    border-left-color: #cbe7f9 !important;
    border-width: 1px !important;
}

.border-right-primary-light {
    border-right-color: #cbe7f9 !important;
    border-width: 1px !important;
}

.accordion > .card:not(:last-of-type) {
    border-width: 1px !important;
}

.br-10 {
    border-radius: 10px !important;
}

.bg-yellow {
    background-color: yellow !important;
}

.text-red {
    color: red !important;
}
